!!!
%html.no-js
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', http_equiv: 'X-UA-Compatible' }
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %link{:href => "//webfonts.radimpesko.com/RP-W-59f1b08e6f3e0cbaf000000a.css", :rel => "stylesheet", :type => "text/css"}

    %title= current_page.data.title || "TB.D"

    = javascript_include_tag 'dependencies/modernizr'
    = stylesheet_link_tag 'application'

  %body{ class: page_classes }
    .left--wrapper 
      .left--wrapper__info 
        -# %img{src: './images/TBD.svg'}
        %svg#logo{:height => "137px", :space => "preserve", :style => "enable-background:new 0 0 400.5 137;", :version => "1.1", :viewbox => "0 0 400.5 137", :width => "400.5px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px", :preserveAspectRatio => "xMinYMin meet"}
          %g
            %path{:d => "M306.3,15.8h32.1c30.4,0,42.5,20.6,42.5,51.8c0,31.7-11.5,53.7-44.1,53.7h-30.6V15.8z M288.2,137h51.7\n\t\tc41,0,60.6-28.6,60.6-67.7c0-41.2-18.8-69.3-60.6-69.3h-51.7V137z M249.5,137h19.6v-21.7h-19.6V137z M120.2,137h70\n\t\tc36.5,0,41.5-26.9,41.5-37.3c0-16.9-7.3-30.8-24-34.8v-0.4c11.3-3.5,20-14.8,20-28.9c0-16.4-10.2-35.6-43.5-35.6h-64.1V137z\n\t\t M138.3,15.8h41.6c13.7,0,28.3,0,28.3,20.6c0,18.1-13.3,21.7-28.1,21.7h-41.7V15.8z M138.3,73.9h42.1c15.6,0,31.8,1.2,31.8,25\n\t\tc0,15.4-10.6,22.1-25.2,22.3h-48.7V73.9z M41.2,137h18.1V15.8h41.2V0H0v15.8h41.2V137z"}

        %span#initial
          Multidisciplinary design studio.
          %br/
          %span#underline
            Spatial 
          and 
          %span#underline
            Graphic Design.

      .left--wrapper__large 
        COMING
    
    .right--wrapper 
      .right--wrapper__info  
        %a{href: "mailto:xyz@nkry.info"}

      .right--wrapper__large
        SOON


    = yield

  = javascript_include_tag 'application'
